<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Edit product2</h2>
<form action="/edit-blog" method="post">
    <input type="hidden" name="idBlog" value="{idBlog}">
    <input type="text" name="category" value="{category}">
    <input type="text" name="imageBlog" value="{imageBlog}">
    <input type="text" name="title" value="{title}">
    <input type="text" name="status" value="{status}">
    <input type="text" name="shortDescription" value="{shortDescription}">
    <input type="text" name="detailBlog" value="{detailBlog}">
    <input type="text" name="startTime" value="{startTime}">
    <input type="hidden" name="idUser" value="{idUser}">
    <button>Save</button>
</form>
</body>
</html>
