<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Edit product</h2>
<form action="/user/edit" method="post">
  <input type="hidden" name="id" value="{id}">
  <input type="text" name="userName" value="{userName}">
  <input type="text" name="password1" value="{password1}">
  <input type="text" name="email" value="{email}">
  <input type="text" name="image" value="{image}">
  <input type="text" name="fullName" value="{fullName}">
  <input type="text" name="address" value="{address}">
  <input type="text" name="phone" value="{phone}">
  <input type="text" name="role" value="{role}">
  <select></select>
  <button>Save</button>
</form>
</body>
</html>
